@mixin fface($path, $font-family, $file-name, $weight: 400, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url('#{$path}/#{$font-family}/#{$file-name}.eot');
    src: url('#{$path}/#{$font-family}/#{$file-name}.eot?#iefix') format('embedded-opentype'),
      url('#{$path}/#{$font-family}/#{$file-name}.woff') format('woff'), url('#{$path}/#{$font-family}/#{$file-name}.woff2') format('woff2');
  }
}
