@import '../variables';

@mixin scrollBar(
  $width: $main-core-base * 1,
  $rad: calc($width / 2),
  $track-rad: $rad,
  $track-color: transparent,
  $thumb-color: rgba($color: #000000, $alpha: 0.3)
) {
  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    position: absolute;

    background-color: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $rad + px;
    background-color: $thumb-color;
  }

  &::-webkit-scrollbar {
    width: $width + px;
  }
}
