<footer class="container footer">
  <p class="footer__copyright lato lato__body3 lato--align-center">
    © 2018 «LoremIpsum.net» Все права защищены.
  </p>
  <span></span>
  <div class="footer__payments payments">
    <div class="payments__item">
      <svg class="icon">
        <use href="../img/svg/sprite.svg#qiwi" />
      </svg>
      <p class="lato lato__body3">QIWI wallet</p>
    </div>
    <div class="payments__item">
      <svg class="icon">
        <use href="../img/svg/sprite.svg#ymoney" />
      </svg>
      <p class="lato lato__body3">Yandex Money</p>
    </div>
    <div class="payments__item">
      <svg class="icon">
        <use href="../img/svg/sprite.svg#webmoney" />
      </svg>
      <p class="lato lato__body3">Web Money</p>
    </div>
  </div>
  <span></span>
  <div class="footer__contacts contacts">
    <a class="contacts__item lato lato__body3" href="mailto:info@ipsum228.com">
      <svg class="icon">
        <use href="../img/svg/sprite.svg#email" />
      </svg>
      info@ipsum228.com</a
    >
    <a class="contacts__item lato lato__body3" href="#">
      <svg class="icon">
        <use href="../img/svg/sprite.svg#vk" />
      </svg>
      Мы вконтакте</a
    >
  </div>
</footer>

<script src="js/index.min.js"></script>
