<header class="container header">
  <a href="/" class="header__logo raleway raleway__logo raleway--uppercase"
    >LoremIpsum.<span class="header__span">Net</span></a
  >

  <nav class="header__nav nav">
    <ul class="nav__list">
      <li class="nav__item nav__item--active lato lato__link lato--uppercase">
        <a href="#" class="nav__link">Бизнес</a>
      </li>
      <li class="nav__item lato lato__link lato--uppercase">
        <a href="#" class="nav__link">О нас</a>
      </li>
      <li class="nav__item lato lato__link lato--uppercase">
        <a href="#" class="nav__link">Цены</a>
      </li>
      <li class="nav__item lato lato__link lato--uppercase">
        <a href="#" class="nav__link">Оформить заказ</a>
      </li>
    </ul>
  </nav>

  <button class="header__menu-button">
    <span class="header__menu-icon">
      <span class="header__menu-line"></span>
      <span class="header__menu-line"></span>
      <span class="header__menu-line"></span>
    </span>
  </button>

  <div class="overlay"></div>
</header>
