<section class="container orders">
  <div class="orders__title">
    <h2 class="lato lato__h2 lato--align-center lato--uppercase">
      оформление <span>заказа</span>
    </h2>
    <p class="lato lato__body4 lato--align-center">
      Перед заполнением формы ознакомьтесь с нашей схемой работы!
    </p>
  </div>

  <div class="orders__steps">
    <figure class="step">
      <div class="step__image">
        <img
          src="../img/svg/search.svg"
          alt="blue circle with magnifying glass icon inside"
        />
      </div>
      <figcaption class="step__descr lato lato__body2 lato--align-center">
        Lorem ipsum dolor sit amet
      </figcaption>
    </figure>
    <figure class="step">
      <div class="step__image">
        <img
          src="../img/svg/percent.svg"
          alt="blue circle with percent icon inside"
        />
      </div>
      <figcaption class="step__descr lato lato__body2 lato--align-center">
        Сonsecteturadipiscing elit
      </figcaption>
    </figure>
    <figure class="step">
      <div class="step__image">
        <img
          src="../img/svg/doc.svg"
          alt="blue circle with document icon inside"
        />
      </div>
      <figcaption class="step__descr lato lato__body2 lato--align-center">
        Sed do eiusmod tempor
      </figcaption>
    </figure>
    <figure class="step">
      <div class="step__image">
        <img
          src="../img/svg/envelope.svg"
          alt="blue circle with envelope icon inside"
        />
      </div>
      <figcaption class="step__descr lato lato__body2 lato--align-center">
        Esse cillum dolore eu fugiat
      </figcaption>
    </figure>
    <figure class="step">
      <div class="step__image">
        <img
          src="../img/svg/money.svg"
          alt="blue circle with money icon inside"
        />
      </div>
      <figcaption class="step__descr lato lato__body2 lato--align-center">
        Excepteur sint occaecat cupidatat non proident
      </figcaption>
    </figure>
  </div>

  <form class="orders__form form">
    <div class="form__inputs lato lato__body4">
      <div class="form__select">
        <select name="select" id="select">
          <option value="1">Sed ut perspiciatis</option>
          <option value="2">Nemo enim ipsam</option>
          <option value="3">Et harum quidem</option>
          <option value="4">Temporibus autem</option>
          <option value="5">Itaque earum rerum</option>
        </select>
      </div>
      <input
        type="text"
        placeholder="Ваш e-mail"
        name="email"
        id="email"
        class="form__input"
      />
      <input
        type="text"
        placeholder="Ваше имя"
        name="name"
        id="name"
        class="form__input"
      />
      <div class="form__range">
        <input type="range" min="0" max="100" name="percent" id="percent" />
      </div>
      <div class="form__file">
        <label for="file" class="button button--secondary"
          ><svg class="icon"><use href="../img/svg/sprite.svg#file"></use></svg
          >Прикрепить файл</label
        >
        <input type="file" name="file" id="file" />
      </div>
    </div>
    <div class="form__buttons">
      <button class="button button--primary lato lato__button2 lato--uppercase">
        Отправить
      </button>
    </div>
  </form>
</section>
