<section class="container promo">
  <h1 class="promo__title lato lato__h1 lato--uppercase">
    <span class="promo__span">Lorem ipsum</span> dolor sit amet consectetur
    <span class="promo__span">adipiscing</span>
  </h1>
  <div class="promo__content">
    <h2 class="promo__subtitle lato lato__subtitle">
      At vero eos et accusamus et iusto odio dignissimos ducimus!
    </h2>
    <ul class="promo__list lato lato__subtitle">
      <li class="promo__list-item lato lato__body1">
        Totam rem aperiam eaque ipsa
      </li>
      <li class="promo__list-item lato lato__body1">
        Sit voluptatem accusantium doloremque laudantium
      </li>
      <li class="promo__list-item lato lato__body1">
        Sed ut perspiciatis, unde omnis iste natus error
      </li>
    </ul>
  </div>
  <div class="promo__buttons">
    <button class="button button--primary lato lato__button1 lato--uppercase">
      заказать
    </button>
    <button class="button button--secondary lato lato__button1 lato--uppercase">
      подробнее
    </button>
  </div>
</section>
