// light
$primary-main: #43abf0;
$primary-light: #42a9ed;
$primary-dark: #3e9cdc;
$primary-darkest: #286690;

$black: #000000;
$white: #ffffff;

$dark-text-primary: $black;
$dark-text-secondary: #2a2b30;

$white-text-primary: $white;
$white-text-secondary: #bbbbbb;
$white-text-tertiary: #c3c3c3;

$button-secondary-border: #6f6d7b;
$input-background: #ffffffd9;
$input-range-background: #ffffffb2;

$header-background: #10101de5;
$overlay-color: rgba(0, 0, 0, 0.5);

$footer-background: #3d4050;
