@import "./colors";

$base: 4;
$base-font-size: $base * 4;

//breakpoints
$breakpoints-mob: 320px;
$breakpoints-smart: 480px;
$breakpoints-small-tablet: 768px;
$breakpoints-tablet: 1024px;
$breakpoints-laptop: 1200px;
$breakpoints-desktop: 1440px;
$breakpoints-large: 1600px;

$max-content-width: 1172px;

$mobile-header-height: 80px;
$desktop-header-height: 100px;

// gutters
$gutter-4: get4BasedSize(1);
$gutter-8: get4BasedSize(2);
$gutter-12: get4BasedSize(3);
$gutter-16: get4BasedSize(4);
$gutter-24: get4BasedSize(6);

// animations
$anim-dur: $base * 0.08 + s;
$anim-dur-fast: $base * 0.04 + s;
$anim-dur-slow: $base * 0.16 + s;

$anim-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
