$breakpoints-smart-padding: max($gutter-16, calc(50% - $breakpoints-smart / 2));
$breakpoints-small-tablet-padding: max(
  $gutter-16,
  calc(50% - $breakpoints-small-tablet / 2)
);
$breakpoints-tablet-padding: max(
  $gutter-16,
  calc(50% - $breakpoints-tablet / 2)
);
$breakpoints-laptop-padding: max(
  $gutter-24,
  calc(50% - $max-content-width / 2)
);

.container {
  padding: 0 $gutter-16;

  @include responsive(smart) {
    padding: 0 $breakpoints-smart-padding;
  }

  @include responsive(small-tablet) {
    padding: 0 $breakpoints-small-tablet-padding;
  }

  @include responsive(tablet) {
    padding: 0 $breakpoints-tablet-padding;
  }

  @include responsive(laptop) {
    padding: 0 $breakpoints-laptop-padding;
  }

  @include responsive(desktop) {
    padding: 0 $breakpoints-laptop-padding;
  }

  @include responsive(large) {
    padding: 0 $breakpoints-laptop-padding;
  }
}

%flex-section {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: get4BasedSize(10);
  padding-bottom: $gutter-16;

  @include responsive(tablet) {
    gap: get4BasedSize(20);
    padding-bottom: $gutter-24;
  }
}
