.lato {
  font-family: "Lato", sans-serif;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  &--uppercase {
    text-transform: uppercase;
  }

  &--align-center {
    text-align: center;
  }

  &__link {
    font-size: calcRem(13);
    font-weight: 600;
  }

  &__button1 {
    font-size: calcRem(13);
    font-weight: 400;
  }

  &__button2 {
    font-size: calcRem(15);
    font-weight: 600;
  }

  &__h1 {
    font-size: calcRem(40);
    font-weight: 700;

    @include responsive(tablet) {
      font-size: calcRem(48);
    }
  }

  &__h2 {
    font-size: calcRem(28);
    font-weight: 800;

    @include responsive(tablet) {
      font-size: calcRem(36);
    }
  }

  &__subtitle {
    font-size: calcRem(20);
    font-weight: 700;
  }

  &__body1 {
    font-size: calcRem(20);
    font-weight: 400;
  }

  &__body2 {
    font-size: calcRem(16);
    font-weight: 400;
  }

  &__body3 {
    font-size: calcRem(13);
    font-weight: 400;
  }

  &__body4 {
    font-size: calcRem(18);
    font-weight: 400;
  }
}

.raleway {
  font-family: "Raleway", sans-serif;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  &__logo {
    font-size: calcRem(28);
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
