.footer {
  min-height: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: get4BasedSize(4) 0;
  padding-top: get4BasedSize(7.5);
  padding-bottom: get4BasedSize(7.5);
  background-color: var(--footer-background);

  @include responsive(laptop) {
    justify-content: space-between;
  }

  &__copyright,
  &__payments,
  &__contacts {
    flex-basis: 100%;
    color: var(--white-text-primary);
    @include responsive(laptop) {
      flex-basis: fit-content;
    }
  }

  &__copyright {
    @include responsive(tablet) {
      padding-right: get4BasedSize(10);
    }
  }

  &__payments {
    @include responsive(tablet) {
      padding: 0 get4BasedSize(10);
    }
  }

  &__contacts {
    @include responsive(tablet) {
      padding-left: get4BasedSize(10);
    }
  }

  &__payments,
  &__contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: get4BasedSize(4) get4BasedSize(9.5);
  }

  &__divider {
    width: get4BasedSize(4.5);
    height: 1px;
    background-color: var(--white-text-tertiary);
    @include responsive(tablet) {
      width: 1px;
      height: auto;
    }
  }
}

.payments,
.contacts {
  &__item {
    display: flex;
    align-items: center;
    gap: get4BasedSize(2.5);
  }
}
