.footer {
  min-height: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: get4BasedSize(8) 0;
  padding-top: get4BasedSize(7.5);
  padding-bottom: get4BasedSize(7.5);
  background-color: var(--footer-background);

  @include responsive(laptop) {
    justify-content: space-between;
  }

  &__copyright,
  &__payments,
  &__contacts {
    flex-basis: 100%;
    color: var(--white-text-primary);
    @include responsive(laptop) {
      flex-basis: 33.3%;
    }
  }

  &__copyright {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      display: block;
      bottom: get4BasedSize(-4);
      left: 50%;
      transform: translateX(-50%);
      width: get4BasedSize(4.5);
      height: 1px;
      background-color: var(--white-text-tertiary);
    }

    @include responsive(laptop) {
      display: flex;
      align-items: center;
      padding-right: get4BasedSize(9.5);
      text-align: left;

      &:after {
        height: get4BasedSize(4);
        width: 1px;
        top: 50%;
        transform: translateY(-50%);
        left: unset;
        right: get4BasedSize(9.5);
      }
    }
  }

  &__payments,
  &__contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: get4BasedSize(4) get4BasedSize(9.5);
  }

  &__contacts {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      display: block;
      top: get4BasedSize(-4);
      left: 50%;
      transform: translateX(-50%);
      width: get4BasedSize(4.5);
      height: 1px;
      background-color: var(--white-text-tertiary);
    }

    @include responsive(laptop) {
      padding-left: get4BasedSize(9.5);
      justify-content: flex-end;

      &:after {
        height: get4BasedSize(4);
        width: 1px;
        top: 50%;
        transform: translateY(-50%);
        left: get4BasedSize(9.5);
        right: unset;
      }
    }
  }
}

.payments,
.contacts {
  &__item {
    display: flex;
    align-items: center;
    gap: get4BasedSize(2.5);
  }
}

.contacts {
  &__item {
    &:hover {
      text-decoration: underline;
    }
  }
}
