@mixin step-dots {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    height: 6px;

    background-image: radial-gradient(
        circle at 10% 50%,
        var(--white) 3px,
        transparent 3px
      ),
      radial-gradient(circle at 30% 50%, var(--white) 3px, transparent 3px),
      radial-gradient(circle at 50% 50%, var(--white) 3px, transparent 3px),
      radial-gradient(circle at 70% 50%, var(--white) 3px, transparent 3px),
      radial-gradient(circle at 90% 50%, var(--white) 3px, transparent 3px);
  }
}

.orders {
  @extend %flex-section;
  padding-top: get4BasedSize(10);
  padding-bottom: get4BasedSize(10);

  background: url("../img/pixel/order-bg.jpg") center / cover no-repeat;

  @include responsive(tablet) {
    min-height: 920px;
    padding-top: get4BasedSize(20);
    padding-bottom: get4BasedSize(20);
  }

  &__span {
    color: var(--primary-dark);
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: get4BasedSize(4);

    @include responsive(tablet) {
      gap: get4BasedSize(7.5);
    }

    .lato__h2 {
      color: var(--white-text-primary);
    }

    .lato__body4 {
      color: var(--white-text-secondary);
    }
  }

  &__steps {
    display: flex;
    flex-wrap: wrap;
    gap: get4BasedSize(4);

    @include responsive(tablet) {
      gap: get4BasedSize(7.5);
      justify-content: center;
    }

    @include responsive(laptop) {
      justify-content: initial;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: get4BasedSize(10);
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: get4BasedSize(3);
  flex-basis: 100%;

  @include responsive(small-tablet) {
    flex-basis: calcFlexBasis(2, get4BasedSize(4));
  }

  @include responsive(tablet) {
    flex-basis: calcFlexBasis(3, get4BasedSize(7.5));
    gap: get4BasedSize(5);
  }

  @include responsive(laptop) {
    flex-basis: calcFlexBasis(5, get4BasedSize(7.5));
  }

  &__image {
    width: 100px;
  }

  @include responsive(small-tablet) {
    &:nth-child(2n + 1):not(:last-child) {
      .step__image {
        @include step-dots;

        &:after {
          width: 293px;
        }
      }
    }
  }

  @include responsive(tablet) {
    &:nth-child(2n + 1):not(:last-child) {
      .step__image {
        &:after {
          width: 0;
        }
      }
    }
    &:nth-child(3n + 1):not(:last-child),
    &:nth-child(3n + 2):not(:last-child) {
      .step__image {
        @include step-dots;

        &:after {
          width: 253px;
        }
      }
    }
  }

  @include responsive(laptop) {
    &:nth-child(3n + 2):not(:last-child) {
      .step__image {
        &:after {
          width: 0;
        }
      }
    }
    &:nth-child(5n + 1):not(:last-child),
    &:nth-child(5n + 2):not(:last-child),
    &:nth-child(5n + 3):not(:last-child),
    &:nth-child(5n + 4):not(:last-child) {
      .step__image {
        @include step-dots;

        &:after {
          width: 134px;
        }
      }
    }
  }

  &__descr {
    max-width: 189px;
    color: var(--white-text-primary);
  }
}

.form {
  &__inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: get4BasedSize(7.5);
  }

  &__input,
  &__select,
  &__range,
  &__file {
    flex-basis: 100%;
  }

  &__input,
  &__select,
  &__file {
    @include responsive(small-tablet) {
      flex-basis: calcFlexBasis(3, get4BasedSize(7.5));
    }
  }

  &__file,
  &__range {
    input {
      width: 100%;
    }
  }

  &__input {
    box-sizing: border-box;
    min-width: 0;
    padding: get4BasedSize(3) get4BasedSize(2.5);
    background-color: var(--input-background);
    border: 1px solid var(--white);
    border-radius: get4BasedSize(0.75);
  }

  &__range {
    @include responsive(small-tablet) {
      flex-basis: calcFlexBasis(3, get4BasedSize(7.5), 2, true);
    }
  }

  &__file {
    input {
      @include visually-hidden;
    }

    label {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: get4BasedSize(2.5);
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: center;

    .button {
      width: 100%;
      max-width: 370px;
    }
  }
}
