.promo {
  @extend %flex-section;
  padding-top: calc($mobile-header-height + $gutter-16);

  background: url("../img/pixel/promo-bg.jpg") center / cover no-repeat;

  @include responsive(tablet) {
    padding-top: calc($desktop-header-height + $gutter-16);
    min-height: 850px;
  }

  &__title {
    span {
      color: var(--primary-light);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: get4BasedSize(2.5);
  }

  &__list {
    list-style: inside;
    list-style-type: " - ";
    display: flex;
    flex-direction: column;
    gap: get4BasedSize(1.25);
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: get4BasedSize(4);

    @include responsive(tablet) {
      gap: get4BasedSize(7.5);
    }

    .button {
      width: 183px;
    }
  }
}
